.container {
    text-align: center;
}

.box-header {
    display: flex;
    flex-direction: column;

}

.box-results {
    display: flex;
    flex-direction: column;
}

.box-results-ul_li {
    list-style: none;
}