.text {
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: -1px;
    text-align: center;
    font-size: 36px;
    text-decoration: underline;
}

.subtitle {
    margin-top: -5px;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.album {
    display: flex;
    justify-content: center;
}

.image {
    width: auto;
    max-height: 750px;
}